html {
  font-size: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #36363F;
}

.page-header {
  text-align: center;
  font-size: 3em;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: 20rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 8rem;
  text-align: center;
  color: #FAEBC9;
  background: #8992A6;
  text-shadow: 0 0 .1rem black;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
}

.playing {
  transform:scale(1.1);
  border-color: #E8AF84 ;
  box-shadow: #E8AF84;
}
